# Maven / Gradle build artifacts
target/
out/

# Compiled classes & logs
*.class
*.log

# IDE & tooling
.idea/
*.iml
*.ctxt            # BlueJ
.mtj.tmp/         # J2ME
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*